<div class="ribbon-wrapper">
  <!-- Ribbon Tabs -->
  <!-- <app-home-tab *ngSwitchCase="'home'"></app-home-tab> -->
  <!-- <app-insert-tab *ngSwitchCase="'insert'"></app-insert-tab> -->

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" *ngFor="let tab of ribbonTabs; let i = index">
      <button class="nav-link" [class.active]="selectedTab === tab.id" (click)="selectTab(tab.id)">
        {{ tab.label }}
      </button>
    </li>
  </ul>

  <!-- Ribbon Content -->
  <div class="tab-content p-2 border-top">
    <div *ngFor="let tab of ribbonTabs" class="tab-pane fade" [class.show]="selectedTab === tab.id"
      [class.active]="selectedTab === tab.id">

      <!-- Dynamic Ribbon Groups -->
      <div class="d-flex flex-wrap">
        <div *ngFor="let group of tab.groups" class="ribbon-group">
          <div>
            <button *ngFor="let btn of group.buttons" class="btn btn-light btn-sm"
              [innerHTML]="btn.icon ? btn.icon : btn.icon" (click)="handleAction(btn.action)">
            </button>
            <select *ngFor="let dd of group.dropdowns" class="form-select form-select-sm ms-2 d-inline-block w-auto"
              #dropdown (change)="handleDropdownAction(dd.action, dropdown.value)" [title]="dd.label">
              <option [value]="option" *ngFor="let option of dd.options">{{ option }}</option>
            </select>
          </div>
          <h6>{{ group.label }}</h6>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Editable Area -->
<div class="container mt-3">
  <h5>Editor</h5>
  <div id="editor" contenteditable="true" class="form-control"
    style="min-height: 300px; border: 2px solid #ced4da; padding: 10px;">
    Start typing here...
  </div>
</div>